body {
  min-height: 100vh;
  margin: 0;
  display: flex;
}

* { 
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.logout {
  flex-grow: 0;
  flex-shrink: 0;
  width: 175px;
  height: 400px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 15px;
  padding-top: 100px;
  border: solid black 1.5px;
  border-radius: 25px;
}

.main {
  width: 100%;
  display: flex;
  padding: 10px;
}

.left-container, .right-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.left-container {
  align-items: center;
}

.right-container {
  align-items: flex-start;
}

.past-destination-container, .upcoming-destination-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.past-destination, .upcoming-destination {
  width: 200px;
  height: auto;
}

.user-summary {
  background-color: azure;
  border: solid 1.5px black;
  width: 80%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 25px;
  padding-left: 10px;
}

.user-welcome {
  font-size: 24px;
}

.past-trips-container, upcoming-trip-container {
  display: flex;
  flex-direction: column;
}

.make-new-trip-container {
  background-color: azure;
  border: solid 1.5px black;
  width: 75%;
  height: 230px;
  display: flex;
  padding: 15px;
  border-radius: 25px;
}

.user-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-input-form {
  width: 50%;
  height: 500px;
}

.date-container, .duration-container, .traveler-container, .destination-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.new-trip-preview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.past-trips-container, .upcoming-trips-container {
  border: solid black 1.5px;
  width: 80%;
  height: 100%;
  margin-top: 15px;
  border-radius: 25px;
  padding: 15px;
}

.past-trips-display, .upcoming-trips-display {
  width: 100%;
  height: 100%;
}

.past-trips, .pending-trips {
  font-size: 20px;
}



